html,body{
    display:cover;
}
li{
    display:inline-block;
    }
#navbar{
    right:0px;
    top:0px;
    position:fixed;
    height:50px;
    width:100%;
    background-color:green;
    
}
#welcome-section{
    display:cover;
    height:100%;
    width:100%;
    padding:200px;
    margin-top:0px;
    margin-left:0px;
    background-color:rgb(140,141,143);
}
#tdiv{
    width:100%;
    padding:200px;
    margin-top:0px;
    background-color:rgb(69,86,125);
}
#fodiv{
    width:100%;
    padding:200px;
    margin-top:0px;
    background-color:rgb(48,56,65);
}
footer{
    background-color:red;
}